@use '../custom' as *;


.about-section{
    background-color: $secondary;
    padding-bottom: 3rem;

    @include media-breakpoint-down(sm){
        margin-top: 3rem;
    }
    &-img{
        @include media-breakpoint-down(sm){
            text-align: center;
        }
        div{
            width: 350px;
            height: 350px;
            overflow: hidden;
            border-radius: 50%;
            background-color: transparent;
            @include media-breakpoint-down(sm){
                width: 80% !important;
                height: 80% !important;
                margin: auto !important;
            }
        }
        img{
            @include media-breakpoint-down(sm){
                min-width: 80% !important;
                min-height: 80% !important;
            }
            
        }
    }
    &-container{
        @include media-breakpoint-down(sm){
            padding-top: 5rem;
        }
    }
    &-desc{
        @include media-breakpoint-down(sm){
            padding-top: 1rem;
        }
    }
}

.cv-button{
    &:hover{
        color: $light !important;
    }
}

