@use '../custom' as *;



.progress-bar{
  width: 10rem;
  height: 10rem;

  @media screen and (max-width:300px) {
    width: 7rem;
    height: 7rem;
  }

    border-radius: 50%;
    position: relative;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(#1778F2 0deg,#e9ecef 0deg);

    &::before{
        content: "";
        width: 90%;
        height: 90%;
        background-color: white;
        border-radius: 50%;
        position: absolute;
        
    }
    &-textbox{
      z-index: 2;
    }
    .percent, .label{
      display: block;
      z-index: 2;

    }
}

$degress: 60,80,55;
@each $num in $degress{
  .progress-bar-#{$num}{
    animation-name: progress-#{$num};
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }
  @keyframes progress-#{$num} {
  
    @for $i from 1 to 21 {
      #{$i*5}#{"%"} {background: conic-gradient(#1778F2 #{(($i*5) * calc($num/100) )* 3.6}deg , #e9ecef 0deg);}
    }
  }
}

.extra-skill{
  &-front-end{
    @include media-breakpoint-up(md){
      border-right: 1.5px solid $secondary !important;
    }
  }

  &-progress-bar{
    width: 90%;

    &-max{
      width: 100%;
      height: 10px;
      background-color: $gray-300;
      position: relative;
    }
    &-value{
      background-color: $primary;
      height: 10px;
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      transition: all 1s;
    }
  }
}

.circle-progress-bar-container{
  display: flex;
  justify-content: center;
  align-items: center;
}