@use '../custom' as *;


@keyframes typewriter{
    
    from{width: 0;}
    to{
        width: 17.8rem;
    }
}

@keyframes typewriter-xs{
    
    from{width: 0;}
    to{
        width: 16rem;
    }
}

@keyframes blinkingCursor {
    from{
        border-right-color: rgba($gray-900, 0.75);
    }
    to{
        border-right-color: rgba($gray-900, 0);
    }
}